<h2 mat-dialog-title class="px-4">{{ title }}</h2>

<mat-dialog-content>
  <div [innerHTML]="article" class="px-4"></div>
</mat-dialog-content>

<mat-card-actions class="p-2">
  <a mat-stroked-button color="primary" class="btn m-2" href="https://www.facebook.com/sharer/sharer.php?u="
     title="Share on Facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
  <a mat-stroked-button color="accent" class="btn m-2" href="https://twitter.com/home?status="
     title="Share on Twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
</mat-card-actions>
