<div class="container">
  <mat-card class="mb-3 weather">
    <div *ngIf="iconChart" style="text-align: center">

      <div style="display: inline-block">
        <p style="font-size: 20px; display: inline-block; flex-direction: row; margin-right: 20px">Weather forecast for</p>
        <select [(ngModel)]="selectedValue" (change)="ngOnInit()" class="custom-select" name="topic" style="display: inline-block; flex-direction: row; width: 200px">
          <option *ngFor="let city of cities">{{ city.name }}</option>
        </select>
      </div>

      <div style="max-width: 100%; display: flex; justify-content: space-between; padding: 0 45px">
        <img *ngFor="let item of templist; index as i" style="display: inline-block; flex-direction: row" src="{{ iconlist[i].valueOf() }}">
      </div>
      <canvas id="dataCanvas" height="50">{{ dataChart }}</canvas>
    </div>
  </mat-card>
</div>
