<div class="container" *ngIf="this.retriever.mainNews != null">
<mat-card class="mb-3" (click)="dialog.openDialog(this.retriever.mainNews.article, this.retriever.mainNews.title)">
  <img mat-card-image [src]=this.retriever.mainNews.imgurl
       alt="{{ this.retriever.mainNews.title }}">
  <mat-card-content>
    <h1 class="display-4 font-italic">{{ this.retriever.mainNews.title }}</h1>
    <p class="lead my-3">{{ this.retriever.mainNews.summary }}</p>
    <p class="lead mb-0"><a href="#" class="font-weight-bold">Continue reading...</a></p>
  </mat-card-content>
</mat-card>
</div>
